<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    <link rel="shortcut icon" href="image.ico">
    <link type="text/css" rel="stylesheet" href="../static/about.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Tracker</title>
</head>

<body>
    <div class="background-image"></div>
    <div class="content">
        <div class="header">
            <header>
                Maintenance Tracker
            </header>
        </div>
        <div>
            <ul class="navbar">
                <li>
                    <a href="./home.html">Home</a>
                </li>
                <li>
                    <a href="./admin.html">Admin</a>
                </li>
                <li>
                    <a href="./about.html" class="active">About Us</a>
                </li>
                <li>
                    <a href="./contact.html">Contact Us</a>
                </li>
                <li>
                    <a href="./signin.html">Log Out</a>
                </li>
            </ul>
        </div>
        <div class="about">
            <fieldset>
                <div class="about_div">
                    <span class="about_span">About Us</span>
                </div>
                <p>Maintenance Tracker is a tool that provides users with the ability to reach out to operations or repairs
                    department regarding repair or maintenance requests and monitor the status of their request.
                </p>
                <br>
                <br>

                <p id="create">Create your account now.
                    <a href="./index.html">
                        <input id="subBtn" type="submit" value="Sign Up">
                    </a>
                </p>
                <p id="create">If you already have an account,
                    <a href="./signin.html">
                        <input id="subBtn" type="submit" value="Sign In">
                    </a>
                </p>
            </fieldset>
        </div>
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer>
                2018 Tracker. Inc
            </footer>
        </div>
    </div>

</body>

</html>