<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    <link rel="shortcut icon" href="image.ico">
    <link type="text/css" rel="stylesheet" href="../static/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Tracker</title>
</head>

<body>
    <div class="background-image"></div>
    <div class="content">
        <div class="header">
            <header>
                Maintenance Tracker
            </header>
        </div>
        <div>
            <ul class="navbar">
                <li>
                    <a href="./home.html">Home</a>
                </li>
                <li>
                    <a href="./admin.html" class="active">Admin</a>
                </li>
                <li>
                    <a href="./about.html">About Us</a>
                </li>
                <li>
                    <a href="./contact.html">Contact Us</a>
                </li>
                <li>
                    <a href="./signin.html">Log Out</a>
                </li>
                </li>
            </ul>
        </div>
        <div class="tab">
            <a href="./approve.html">
                <button>Approve</button>
            </a>
            <a href="./disapprove.html">
                <button>Rejected</button>
            </a>
            <a href="./status.html">
                <button>Status</button>
            </a>
            <a href="./admin_resolve.html">
                <button>Done</button>
            </a>
            <a href="./admin_pending.html">
                <button>Pending</button>
            </a>
        </div>

        <div class="mytab">
            <table id="tb2">
                <p id="dt2">23/05/2018 Resolve</p>
                <tr>
                    <th>Request Type</th>
                    <th>Category</th>
                    <th>Detail</th>
                    <th>Done</th>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Water</td>
                    <td>My sink is clogged.</td>
                    <td>
                        Done
                    </td>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Water</td>
                    <td>My pipe is broken and water is overflowing</td>
                    <td>
                        Done
                    </td>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Electricity</td>
                    <td>My power has been off for about 3 hours.</td>
                    <td>
                        Done
                    </td>
                </tr>
                <tr>
                    <td>Replace</td>
                    <td>Environment</td>
                    <td>I need to plant some trees in my backyard.</td>
                    <td>
                        Done
                    </td>
                </tr>

            </table>
            <br>
            <br>
            <table id="tb3">
                <p id="dt3">23/05/2018</p>
                <tr>
                    <th>Request Type</th>
                    <th>Category</th>
                    <th>Detail</th>
                    <th>Done</th>
                </tr>
                <tr>
                    <td>Replace</td>
                    <td>Water</td>
                    <td>The pipe from the toilet bowl is broken.</td>
                    <td>
                        Done
                    </td>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Water</td>
                    <td>My sink is clogged.</td>
                    <td>
                        Done
                    </td>
                </tr>
                <tr>
                    <td>Replace</td>
                    <td>Environment</td>
                    <td>I need to plant some </td>
                    <td>
                        Done
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer>
                2018 Tracker. Inc
                <a href="./about.html">About Us</a>
            </footer>
        </div>
    </div>
</body>

</html>