<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Tracker</title>
</head>

<body>
    <div class="background-image"></div>
    <div class="content">
        <div class="header">
            <header>
                Maintenance Tracker
            </header>
        </div>
        <div>
            <ul class="navbar">
                <li>
                    <a href="./home.html" class="active">Home</a>
                </li>
                <li>
                    <a href="./admin.html">Admin</a>
                </li>
                <li>
                    <a href="./about.html">About Us</a>
                </li>
                <li>
                    <a href="./contact.html">Contact Us</a>
                </li>
                <li>
                    <a href="./signin.html">Log Out</a>
                </li>
            </ul>
        </div>
        <div class="tab">
            <a href="./done.html">
                <button>Done</button>
            </a>
            <a href="./pending.html">
                <button>Pending</button>
            </a>
            <a href="./rejected.html">
                <button>Rejected</button>
            </a>
        </div>
        <div class="date">
            Request Date:
            <input id="date" type="date">
            <input id="add" type="submit" value="New Date">
            <br>
            <br>
        </div>
        <div class="mytab">
            <table id="tb1">
                <p id="dt1">23/05/2018</p>
                <br>

                <a href="makerequest.html">
                    <input id="req" type="submit" value="New Request">
                </a>
                <br>
                <br>
                <tr>
                    <th>Request Type</th>
                    <th>Category</th>
                    <th>Detail</th>
                    <th>Edit Request</th>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Water</td>
                    <td>My sink is clogged.</td>
                    <td>
                        <a href="#">
                            <input id="req" type="submit" value="Edit Request">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Water</td>
                    <td>My pipe is broken and water is overflowing</td>
                    <td>
                        <a href="#">
                            <input id="req" type="submit" value="Edit Request">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Electricity</td>
                    <td>My power has been off for about 3 hours.</td>
                    <td>
                        <a href="#">
                            <input id="req" type="submit" value="Edit Request">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Replace</td>
                    <td>Environment</td>
                    <td>I need to plant some trees in my backyard.</td>
                    <td>
                        <a href="#">
                            <input id="req" type="submit" value="Edit Request">
                        </a>
                    </td>
                </tr>

            </table>
            <br>
            <br>
            <table id="tb2">
                <p id="dt2">23/05/2018</p>
                <tr>
                    <th>Request Type</th>
                    <th>Category</th>
                    <th>Detail</th>
                    <th>Edit Request</th>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Water</td>
                    <td>My sink is clogged.</td>
                    <td>
                        <a href="#">
                            <input id="req" type="submit" value="Edit Request">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Water</td>
                    <td>My pipe is broken and water is overflowing</td>
                    <td>
                        <a href="#">
                            <input id="req" type="submit" value="Edit Request">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Replace</td>
                    <td>Electricity</td>
                    <td>My power meter is burnt.</td>
                    <td>
                        <a href="#">
                            <input id="req" type="submit" value="Edit Request">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Environment</td>
                    <td>The grass in my lawn is overgrown.</td>
                    <td>
                        <a href="#">
                            <input id="req" type="submit" value="Edit Request">
                        </a>
                    </td>
                </tr>

            </table>
            <br>
            <br>
            <table id="tb3">
                <p id="dt3">23/05/2018</p>
                <tr>
                    <th>Request Type</th>
                    <th>Category</th>
                    <th>Detail</th>
                    <th>Edit Request</th>
                </tr>
                <tr>
                    <td>Replace</td>
                    <td>Water</td>
                    <td>The pipe from the toilet bowl is broken.</td>
                    <td>
                        <a href="#">
                            <input id="req" type="submit" value="Edit Request">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Water</td>
                    <td>My sink is clogged.</td>
                    <td>
                        <a href="#">
                            <input id="req" type="submit" value="Edit Request">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Replace</td>
                    <td>Environment</td>
                    <td>I need to plant some </td>
                    <td>
                        <a href="#">
                            <input id="req" type="submit" value="Edit Request">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer>
                2018 Tracker. Inc
                <a href="./about.html">About Us</a>
            </footer>
        </div>
    </div>
</body>

</html>