<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="favicon.ico">
    <link type="text/css" rel="stylesheet" href="../static/sign.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Tracker</title>
</head>

<body>
    <div class="background-image"></div>
    <div class="content">
        <div id="header">
            <header>
                Maintenance Tracker
            </header>
        </div>

        <div class="signup">
            <fieldset>
                <div class="signup_form_div">
                    <span class="sign_up_span">SIGN UP</span>
                </div>
                <form class="input" action="./home.html">
                    <input type="text" placeholder="First name" required>
                    <br>
                    <br>
                    <input type="text" placeholder="Last name" required>
                    <br>
                    <br>
                    <input type="email" placeholder="Email Address" required>
                    <br>
                    <br>
                    <input type="tel" placeholder="Telephone Number" required>
                    <br>
                    <br>
                    <input type="password" placeholder="Create Password" required>
                    <br>
                    <br>
                    <input type="password" placeholder="Confirm Password" required>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div>
                        <input id="subBtn" type="submit" value="Sign Up">
                    </div>
                </form>
                <p>Have an account?
                    <a href="./signin.html">
                        <input id="subBtn" type="submit" value="Sign In">
                    </a>
                </p>
            </fieldset>
        </div>
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer>
                2018 Tracker. Inc
            </footer>
        </div>
    </div>
</body>

</html>