<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="favicon.ico">
    <link type="text/css" rel="stylesheet" href="../static/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Tracker</title>
</head>

<body>
    <div class="background-image"></div>
    <div class="content">
        <div>
            <ul class="navbar">
                <li>
                    <a href="./home.html" class="active">Home</a>
                </li>
                <li>
                    <a href="./admin.html">Admin</a>
                </li>
                <li>
                    <a href="./about.html">About Us</a>
                </li>
                <li>
                    <a href="./contact.html">Contact Us</a>
                </li>
                <li>
                    <a href="./signin.html">Log Out</a>
                </li>
            </ul>
        </div>
        <div id="header">
            <header class="header">
                Maintenance Tracker
            </header>
        </div>
        <div class="signup">
            <div class="form">
                <center>
                    <form action="./home.html">
                        Type:
                        <br><br>
                        <input type="text" placeholder="Enter request type">
                        <br>
                        <br>
                        <br> Category:
                        <br><br>
                        <input type="text" placeholder="Enter request Request Category">
                        <br>
                        <br>
                        <br> Details:
                        <br><br>
                        <input class="inpt" type="text" placeholder="Please enter you request details"><br><br>
                        <input id="add" type="submit" value="Add Request">
                    </form>
                </center>
            </div>
        </div>
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer>
                2018 Tracker. Inc
                <a href="./about.html">About Us</a>
            </footer>
        </div>
    </div>
</body>

</html>