<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Tracker</title>
</head>

<body>
    <div class="background-image"></div>
    <div class="content">
        <div class="header">
            <header>
                Maintenance Tracker
            </header>
        </div>
        <div>
            <ul class="navbar">
                <li>
                    <a href="./home.html" class="active">Home</a>
                </li>
                <li>
                    <a href="./admin.html">Admin</a>
                </li>
                <li>
                    <a href="./about.html">About Us</a>
                </li>
                <li>
                    <a href="./contact.html">Contact Us</a>
                </li>
                <li>
                    <a href="./signin.html">Log Out</a>
                </li>
            </ul>
        </div>
        <div class="tab">
            <a href="./done.html">
                <button>Done</button>
            </a>
            <a href="./pending.html">
                <button>Pending</button>
            </a>
            <a href="./rejected.html">
                <button>Rejected</button>
            </a>
        </div>
        <div class="mytab">
            <table id="tb2">
                <tr>
                    <th>Request Type</th>
                    <th>Category</th>
                    <th>Detail</th>
                    <th>Request Status</th>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Water</td>
                    <td>My sink is clogged.</td>
                    <td>Rejected</td>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Water</td>
                    <td>My pipe is broken and water is overflowing</td>
                    <td>Rejected</td>
                </tr>
                <tr>
                    <td>Replace</td>
                    <td>Electricity</td>
                    <td>My power meter is burnt.</td>
                    <td>Rejected</td>
                </tr>
                <tr>
                    <td>Repair</td>
                    <td>Environment</td>
                    <td>The grass in my lawn is overgrown.</td>
                    <td>Rejected</td>
                </tr>

            </table>
            <br>
            <br>
        </div>
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer>
                2018 Tracker. Inc
                <a href="./about.html">About Us</a>
            </footer>
        </div>
    </div>
</body>

</html>