<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="favicon.ico">
    <link type="text/css" rel="stylesheet" href="../static/signin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Tracker</title>
</head>

<body>
    <div class="background-image"></div>
    <div class="content">
        <div id="header">
            <header>
                Maintenance Tracker
            </header>
        </div>
        <div class="welcome">
            <p>We are honoured to track your maintenance today.
                <br>If you have an account, please fill in your credentials in the form.
            </p>
        </div>
        <div class="signup">
            <fieldset>
                <div class="signin_form_div">
                    <span class="sign_up_span">SIGN IN</span>
                </div>
                <form class="input" action="./home.html">
                    <input type="email" placeholder="Email" required>
                    <br>
                    <br>
                    <input type="password" placeholder="Password" required>
                    <br>
                    <br>
                    <br>
                    <div>
                        <input id="subBtn" type="submit" value="Sign In">
                    </div>
                </form>
                <p id="dont">Don't have an account?</p>
                <br>
                <a href="./index.html">
                    <input id="subBtn" type="submit" value="Sign Up">
                </a>

            </fieldset>
        </div>
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer>
                2018 Tracker. Inc
            </footer>
        </div>
    </div>
</body>

</html>